university_system/quizzes/migrations/__pycache__
university_system/api/__pycache__/
university_system/college_views/__pycache__
university_system/api/migrations/__pycache__
university_system/courses/__pycache__
university_system/college_views/migrations/__pycache__
university_system/courses/migrations/__pycache__
university_system/grades/__pycache__
university_system/grades/migrations/__pycache__
university_system/quizzes/__pycache__
university_system/university_system/__pycache__
university_system/users/__pycache__
university_system/users/migrations/__pycache__

university_system/quizzes/migrations/
university_system/users/migrations/
university_system/grades/migrations/
university_system/courses/migrations/
university_system/api/migrations/
