{%extends 'index.html'%}
{%block title%}Quiz Answers Review{%endblock%}
{%block content%}
<div class="ibox">
    <div class="ibox-head" style="justify-content: center;">
        <div class="ibox-title" style="text-transform: capitalize;">Quiz Name:{{quiz.name}} & attempt Date:{{attempt.timestamp}}</div>
    </div>
    <div class="ibox-body">
        {%for q,a in qa%}
            <h3>{{q.body|safe}}</h3>
        <ul>
            {%for choice in q.choices.all%}
                {%if choice.is_correct%}
                    {%if choice == a.choice%}
                        <li style="color: green">{{choice.body|safe}} <span class="badge badge-success badge-circle m-r-5 m-b-5">{{q.grade}}</span></li>
                    {%else%}
                    <li style="color: green">{{choice.body|safe}}</li>
                    {%endif%}
                {%else%}
                    {%if choice == a.choice%}
                    <li style="color: #c30000">{{choice.body|safe}} <span class="badge badge-success badge-circle m-r-5 m-b-5"></span></li>
                    {%else%}
                    <li style="color: #c30000">{{choice.body|safe}}</li>
                    {%endif%}
                {%endif%}
            {%endfor%}
        </ul>
        <hr>
        {%endfor%}
        </ul>
        <h3>Total Grade = {{grade.mark}}</h3>
        <a href="{%url 'course-quizzes' quiz.course.course_code%}" class="btn btn-info">Return</a>
    </div>
</div>
{%endblock%}