{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* the why to resize image */
        img{
            width: 200px!important;
            height: 200px!important;
        }
    </style>
</head>
<body>
    <form action="" id='myform' method="POST">
        {%csrf_token%}
        {%for question in form.questions%}

        {{question.body|safe}}


        {%for choice in question.choices.all%}
        <label>
        <input type="radio" name="{{question.id}}" value="{{choice.body}}" required id="id_{{question.id}}_{{choice.id}}">
         {{choice.body}}
        </label>
        {%endfor%}
        {%endfor%}
        <button type="submit">Submit</button>
    </form>
    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script>
        endpoint = '/quiz/{{quiz.slug}}/time/';
        function check_time() {
            $.ajax({
            method:'GET',
            url:endpoint,
            success:data=>{
                console.log(data)
                if (data==false){
                    document.getElementById('myform').submit();
                    clearInterval(countTime);
                }
            }
        })
        }
        countTime=setInterval(check_time,1000);
        check_time();
    </script>
</body>
</html>