<ul class="nav nav-tabs tabs-line nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="{%url 'course-view' course.course_code%}"><i class="fa fa-home"></i>Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'course-quizzes' course.course_code%}"><i class="fa fa-code"></i>Quizzes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'course-assignments' course.course_code%}"><i class="fa fa-book"></i>Assignments</a>
    </li>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'course-announcements' course.course_code %}"><i class="fa fa-bullhorn"></i>Announcement</a>
    </li>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'course-questions' course.course_code%}"><i class="fa fa-question"></i>Q&amp;A</a>
    </li>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'course-files' course.course_code%}"><i class="fa fa-file"></i>Files</a>
    </li>
</ul>
